#Ignore pycache
**/__pycache__

#Ignore other files
*.txt
*.csv

!requirements.txt

#Ignore session folders
session/**/profile*
session/**/tdata

#Ignore session files
session/**/*.session
session/**/*.session-journal